.grid-layout {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.title {
  font-size: 150px;
  text-align: center;
  grid-column: 1/3;
  grid-row: 2/3;
  z-index: 1;
}
img {
  grid-column: 1/3;
  grid-row: 2/3;
}
.banner {
  background-color: dimgrey;
  grid-column: 2/3;
  grid-row: 2/3;
}

h3 {
  position: relative;
  padding-top: 350px;
  padding-left: 150px;
  font-size: 100px;
  color: rgb(119, 5, 5);
  grid-column: 2/3;
  grid-row: 2/3;
}
